body {
    width: 960px;
    background-color: #fff;
    margin: 0 auto;
}
h1 {
    background-color: #4aaaa5;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 400px;
    height: 50px; 
    padding: 5px;
    text-align: center;
    font-size: 30px;
}
h2 {
    font-family: 'Courier New', Courier, monospace;
    background-color: #ffffff;
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
}
p {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
ul {
    margin: 0px;
    /* list-style: none; */
}
li {
    list-style: none;
    display: block;
    float: right;
    margin: 10px;
}
.intro{
    text-align: justify;
    margin: 15px 15px;
    font-family: 'Courier New', Courier, monospace;
    width: 940px;
}
footer {
    background-color: #4aaaa5;
    margin-top: 5px;
    position: relative;
    text-align: center;
}
.image {
    float: left;
    margin: 0 10px;
    border: #4aaaa5;
    border-style: double;
}
/* .picture-set {
    position: relative;
    background-color: teal; */

.picture-1 {
    
}
